<html>
    <head>
    </head>
    <body>
        <table cellspacing="0" cellpadding="6" width="50%" class="invoice">
            <tbody>
                <tr>
                    <td><strong>SHIP FROM:</strong><br />
                    <blockquote style="margin-left: 50px;">[Company Name]<br />
                    [Address 1]<br />
                    [Address 2]<br />
                    <strong>[City], [State] [ZIP Code]</strong>
                    </blockquote></td>
                </tr>
                <tr>
                    <td>
                    <hr />
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><strong>SHIP TO:</strong>
                    <blockquote style="margin-left: 50px;">
                    <span style="font-size: 16px;">{tag_recipientname}</span><br />
                    <span style="font-size: 16px;">{tag_addressshipping}      </span></blockquote></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>