<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 1 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 1 Description']}}</p>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 2 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 2 Description']}}</p>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 3 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 3 Description']}}</p>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 4 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 4 Description']}}</p>
</div>
