<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 1 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 1 Description']}}</p>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 2 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 2 Description']}}</p>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 3 Title']}}</p>
  <p>{{this.['Checkout Sidebar Content 3 Description']}}</p>
  <div class = "security_icons">
  
   <!-- Begin DigiCert site seal HTML and JavaScript -->
    <div class="icon_item" id="DigiCertClickID_52Vgkh5f" data-language="en">
        <a href="https://www.digicert.com/wildcard-ssl-certificates.htm"></a>
    </div>
    <script type="text/javascript">
        var __dcid = __dcid || [];
        __dcid.push(["DigiCertClickID_52Vgkh5f", "7", "m", "black", "52Vgkh5f"]);
        (function()
        {var cid=document.createElement("script");
        cid.async=true;
        cid.src="//seal.digicert.com/seals/cascade/seal.min.js";
        var s = document.getElementsByTagName("script");
        var ls = s[(s.length - 1)];
        ls.parentNode.insertBefore(cid, ls.nextSibling);
        }());
    </script>
  <!-- End DigiCert site seal HTML and JavaScript -->
  
</div>
</div>

<div class="checkout-side">
  <p class="h3">{{this.['Checkout Sidebar Content 4 Title']}}</p>
  <p>
    {module_webapps id="37456" filter="item" itemId="6679077" collection="company" template=""}
    Call Us @ <a href="tel:{{company.items[0].['Phone Number']}}">{{company.items[0].['Phone Number']}}</a>
    <br>
    {{company.items[0].['Working Hours']}}    
    <br>
    {{company.items[0].['Working Days']}} 
    <br />
    <br>
    Email Us Anytime:<br>
    <a href="tel:{{company.items[0].['Email Address']}}">{{company.items[0].['Email Address']}}</a>
  </p>
</div>



