{%if this.['Video Title 1'] != ""%}
<div class="course-video">	
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 1']}}',this)">1.&nbsp;&nbsp;{{this.['Video Title 1']}}</a><span class = "pull-right">{{this.['Video Time Length 1']}}</span>
</div>
{%endif%}
{%if this.['Video Title 2'] != ""%}
<div class="course-video">
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 2']}}',this)">2.&nbsp;&nbsp;{{this.['Video Title 2']}}</a><span class = "pull-right">{{this.['Video Time Length 2']}}</span>
</div>
{%endif%}
{%if this.['Video Title 3'] != ""%}
<div class="course-video">
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 3']}}',this)">3.&nbsp;&nbsp;{{this.['Video Title 3']}}</a><span class = "pull-right">{{this.['Video Time Length 3']}}</span>
</div>
{%endif%}
{%if this.['Video Title 4'] != ""%}
<div class="course-video">
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 4']}}',this)">4.&nbsp;&nbsp;{{this.['Video Title 4']}}</a><span class = "pull-right">{{this.['Video Time Length 4']}}</span>
</div>
{%endif%}
{%if this.['Video Title 5'] != ""%}
<div class="course-video">
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 5']}}',this)">5.&nbsp;&nbsp;{{this.['Video Title 5']}}</a><span class = "pull-right">{{this.['Video Time Length 5']}}</span>
</div>
{%endif%}
{%if this.['Video Title 6'] != ""%}
<div class="course-video">
	<div class="checkbox">	
		<input type="checkbox" id="checkbox2" />
	</div>
	<a href="#" onclick="show_courseVideo('{{this.['Video 6']}}',this)">6.&nbsp;&nbsp;{{this.['Video Title 6']}}</a><span class = "pull-right">{{this.['Video Time Length 6']}}</span>
</div>
{%endif%}
