<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Online Course for BC Training</title>
	{module_contentholder name="Google Tag Manager"}
    {% include "/_System/Includes/Templates/Training/_head-training.inc" -%}
</head>
<body>
	<!-- BODY WRAPPER -->
	<div class="body-wrapper">
		{% include "/_System/Includes/Templates/Training/header-Online-Training.inc" -%}
		{tag_pagecontent}
		{% include "/_System/Includes/Templates/Training/Footer-Online-Training.inc" -%}
		{% include "/_System/Includes/Templates/Training/_body-close-Online-Training.inc" -%}
	</div>
	<!-- END OF BODY WRAPPER -->
</body>
</html>