{module_webapps id="34533" filter="item" itemId="6281227" collection = "shopping_settings" template = ""}
{module_webapps id="34571" filter="all" collection = "card_types" template = ""}
<div class="background" style="padding: 60px 0px;">
{module_shoppingcartsummary collection = "cart-summary" template = ""}
{% if globals.user.isLoggedIn and shopping_settings.items[0].['Cart Summary'] %}
{% assign show_cart = "block" -%}
{% else -%}
{% assign show_cart = "none" -%}
{% endif -%}
<div class="sum-cart">
<em class="fa fa-shopping-cart fa-2x" aria-hidden="true"><span class="cart-count">{{cart-summary.itemCount}}</span></em>
<pre class="hidden">{{cart-summary | json}}</pre>
<div class="cart-items">
{%for item in cart-summary.items %}
<div class="item">
<div class="row">
<div class="col-md-3">
<img src="{{item.smallImage}}" alt="{{item.name}}" style="height: 65px;" />
</div>
<div class="col-md-9">
<h4>{{item.name}}</h4>
<p>{{cart-summary.currencyFormat}}{{item.price | append: ' x' | append: item.quantity}}</p>
</div>
</div>
</div>
<hr />
{%endfor%}
<div class="row">
<div class="col-sm-12">
<p class="text-right">Amount: <strong>{{cart-summary.currencyFormat | append:  cart-summary.totalAmount}}</strong></p>
</div>
</div>
</div>
</div>
<div class="container">
{%unless globals.user.isLoggedIn%}
<div class="row" id="pre-co">
<div class="col-md-6">
<div class="login_wrapper">
<h2>Login Member</h2>
<form name="catseczoneform19022" onsubmit="return checkWholeForm19022(this)" method="post" action="/ZoneProcess.aspx?ZoneID=51&amp;Referrer={module_siteUrl,true,true}&amp;OID={module_oid}&amp;OTYPE={module_otype}" class="form-horizontal">
    <div class="form-group">
    <label class="control-label col-sm-3">Username</label>
    <div class="col-sm-9">
    <input class="form-control" type="text" name="Username" id="SZUsername" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Password</label>
    <div class="col-sm-9">
    <input class="form-control" type="password" name="Password" id="SZPassword" autocomplete="off" />
    </div>
    </div>
    <!--<div class = "checkbox">
     					<label><input type = "checkbox" name="RememberMe" id="RememberMe"> Check me out</label>
   					</div>-->
    <input class="cta-btn cta-btn-sm login-co" type="submit" value="Log in" style="display: inline;" />&nbsp;<a href="/_System/SystemPages/PasswordRetrieveRequest">Lost password?</a>
</form>
</div>
</div>
<div class="col-md-6">
<h2>New Customer</h2>
<a class="cta-btn cta-btn-full newcustomer-co" href="#">Checkout</a>
</div>
</div>
{%endunless%}
<!--Begin Checkout-->
{% if globals.user.isLoggedIn %}
{% assign showForm = "block" -%}
<a href="#" id="cart_logout">Logout</a>
{% else -%}
{% assign showForm = "none" -%}
{% endif -%}
<form id="catwebformform42059" name="catwebformform42059" onsubmit="return checkWholeForm42059(this)" action="/FormProcessv2.aspx?WebFormID=10850&amp;OID={module_oid}&amp;OTYPE={module_otype}&amp;EID={module_eid}&amp;CID={module_cid}" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="row">
    <div class="col-md-8" style="border-right: 1px solid #f0f0fa;">
    <div class="contact">
    <h2>STEP 1 : CONTACT INFORMATION</h2>
    <div class="form-group">
    <label class="control-label col-sm-3">First Name</label>
    <div class="col-sm-9">
    <input class="form-control" id="FirstName" type="text" maxlength="255" name="FirstName" value="{module_firstname}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Last Name</label>
    <div class="col-sm-9">
    <input class="form-control" id="LastName" type="text" maxlength="255" name="LastName" value="{module_lasttname}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Email</label>
    <div class="col-sm-9">
    <input class="form-control" id="EmailAddress" type="text" maxlength="255" name="EmailAddress" value="{module_emailaddress}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Phone</label>
    <div class="col-sm-9">
    <input class="form-control" id="WorkPhone" type="text" maxlength="255" name="WorkPhone" value="{module_workphone}" />
    </div>
    </div>
    {%unless globals.user.isLoggedIn%}
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label class="control-label col-sm-6">Password</label>
    <div class="col-sm-6">
    <input class="form-control" id="Password" type="password" maxlength="255" name="Password" value="{module_workphone}" autocomplete="off" />
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label class="control-label col-sm-6">Confirm Password</label>
    <div class="col-sm-6">
    <input class="form-control" id="PasswordConfirm" type="password" maxlength="255" name="PasswordConfirm" value="{module_workphone}" autocomplete="off" />
    </div>
    </div>
    </div>
    </div>
    {%endunless%}
    </div>
    <div class="billing">
    <h2>STEP 2 : BILLING DETAILS</h2>
    <div class="form-group">
    <label class="control-label col-sm-3">Address</label>
    <div class="col-sm-9">
    <input class="form-control" id="BillingAddress" type="text" maxlength="500" name="BillingAddress" value="{module_billingaddress}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">City</label>
    <div class="col-sm-9">
    <input class="form-control" id="BillingCity" type="text" maxlength="255" name="BillingCity" value="{module_billingcity}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">State</label>
    <div class="col-sm-9">
    <input class="form-control" id="BillingState" type="text" maxlength="255" name="BillingState" value="{module_billingstate}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Zipcode/Postcode</label>
    <div class="col-sm-9">
    <input class="form-control" id="BillingZip" type="text" maxlength="255" name="BillingZip" value="{module_billingzip}" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-3">Country</label>
    <div class="col-sm-9">
    <select class="form-control" id="BillingCountry" name="BillingCountry">
    <option selected="true">-- Select Country --</option>
    <option value="AF">AFGHANISTAN</option>
    <option value="AX">ALAND ISLANDS</option>
    <option value="AL">ALBANIA</option>
    <option value="DZ">ALGERIA</option>
    <option value="AS">AMERICAN SAMOA</option>
    <option value="AD">ANDORRA</option>
    <option value="AO">ANGOLA</option>
    <option value="AI">ANGUILLA</option>
    <option value="AQ">ANTARCTICA</option>
    <option value="AG">ANTIGUA AND BARBUDA</option>
    <option value="AR">ARGENTINA</option>
    <option value="AM">ARMENIA</option>
    <option value="AW">ARUBA</option>
    <option value="AU">AUSTRALIA</option>
    <option value="AT">AUSTRIA</option>
    <option value="AZ">AZERBAIJAN</option>
    <option value="BS">BAHAMAS</option>
    <option value="BH">BAHRAIN</option>
    <option value="BD">BANGLADESH</option>
    <option value="BB">BARBADOS</option>
    <option value="BY">BELARUS</option>
    <option value="BE">BELGIUM</option>
    <option value="BZ">BELIZE</option>
    <option value="BJ">BENIN</option>
    <option value="BM">BERMUDA</option>
    <option value="BT">BHUTAN</option>
    <option value="BO">BOLIVIA</option>
    <option value="BA">BOSNIA AND HERZEGOVINA</option>
    <option value="BW">BOTSWANA</option>
    <option value="BV">BOUVET ISLAND</option>
    <option value="BR">BRAZIL</option>
    <option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
    <option value="BN">BRUNEI DARUSSALAM</option>
    <option value="BG">BULGARIA</option>
    <option value="BF">BURKINA FASO</option>
    <option value="BI">BURUNDI</option>
    <option value="KH">CAMBODIA</option>
    <option value="CM">CAMEROON</option>
    <option value="CA">CANADA</option>
    <option value="CV">CAPE VERDE</option>
    <option value="CI">C&acirc;TE D'IVOIRE</option>
    <option value="KY">CAYMAN ISLANDS</option>
    <option value="CF">CENTRAL AFRICAN REPUBLIC</option>
    <option value="TD">CHAD</option>
    <option value="CL">CHILE</option>
    <option value="CN">CHINA</option>
    <option value="CX">CHRISTMAS ISLAND</option>
    <option value="CC">COCOS (KEELING) ISLANDS</option>
    <option value="CO">COLOMBIA</option>
    <option value="KM">COMOROS</option>
    <option value="CG">CONGO</option>
    <option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
    <option value="CK">COOK ISLANDS</option>
    <option value="CR">COSTA RICA</option>
    <option value="HR">CROATIA</option>
    <option value="CU">CUBA</option>
    <option value="CY">CYPRUS</option>
    <option value="CZ">CZECH REPUBLIC</option>
    <option value="DK">DENMARK</option>
    <option value="DJ">DJIBOUTI</option>
    <option value="DM">DOMINICA</option>
    <option value="DO">DOMINICAN REPUBLIC</option>
    <option value="EC">ECUADOR</option>
    <option value="EG">EGYPT</option>
    <option value="SV">EL SALVADOR</option>
    <option value="GQ">EQUATORIAL GUINEA</option>
    <option value="ER">ERITREA</option>
    <option value="EE">ESTONIA</option>
    <option value="ET">ETHIOPIA</option>
    <option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
    <option value="FO">FAROE ISLANDS</option>
    <option value="FJ">FIJI</option>
    <option value="FI">FINLAND</option>
    <option value="FR">FRANCE</option>
    <option value="GF">FRENCH GUIANA</option>
    <option value="PF">FRENCH POLYNESIA</option>
    <option value="TF">FRENCH SOUTHERN TERRITORIES</option>
    <option value="GA">GABON</option>
    <option value="GM">GAMBIA</option>
    <option value="GE">GEORGIA</option>
    <option value="DE">GERMANY</option>
    <option value="GH">GHANA</option>
    <option value="GI">GIBRALTAR</option>
    <option value="GR">GREECE</option>
    <option value="GL">GREENLAND</option>
    <option value="GD">GRENADA</option>
    <option value="GP">GUADELOUPE</option>
    <option value="GU">GUAM</option>
    <option value="GT">GUATEMALA</option>
    <option value="GN">GUINEA</option>
    <option value="GW">GUINEA-BISSAU</option>
    <option value="GY">GUYANA</option>
    <option value="HT">HAITI</option>
    <option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
    <option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
    <option value="HN">HONDURAS</option>
    <option value="HK">HONG KONG</option>
    <option value="HU">HUNGARY</option>
    <option value="IS">ICELAND</option>
    <option value="IN">INDIA</option>
    <option value="ID">INDONESIA</option>
    <option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
    <option value="IQ">IRAQ</option>
    <option value="IE">IRELAND</option>
    <option value="IL">ISRAEL</option>
    <option value="IT">ITALY</option>
    <option value="JM">JAMAICA</option>
    <option value="JP">JAPAN</option>
    <option value="JO">JORDAN</option>
    <option value="KZ">KAZAKHSTAN</option>
    <option value="KE">KENYA</option>
    <option value="KI">KIRIBATI</option>
    <option value="KP">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
    <option value="KR">KOREA, REPUBLIC OF</option>
    <option value="KW">KUWAIT</option>
    <option value="KG">KYRGYZSTAN</option>
    <option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
    <option value="LV">LATVIA</option>
    <option value="LB">LEBANON</option>
    <option value="LS">LESOTHO</option>
    <option value="LR">LIBERIA</option>
    <option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
    <option value="LI">LIECHTENSTEIN</option>
    <option value="LT">LITHUANIA</option>
    <option value="LU">LUXEMBOURG</option>
    <option value="MO">MACAO</option>
    <option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
    <option value="MG">MADAGASCAR</option>
    <option value="MW">MALAWI</option>
    <option value="MY">MALAYSIA</option>
    <option value="MV">MALDIVES</option>
    <option value="ML">MALI</option>
    <option value="MT">MALTA</option>
    <option value="MH">MARSHALL ISLANDS</option>
    <option value="MQ">MARTINIQUE</option>
    <option value="MR">MAURITANIA</option>
    <option value="MU">MAURITIUS</option>
    <option value="YT">MAYOTTE</option>
    <option value="MX">MEXICO</option>
    <option value="FM">MICRONESIA, FEDERATED STATES OF</option>
    <option value="MD">MOLDOVA, REPUBLIC OF</option>
    <option value="MC">MONACO</option>
    <option value="MN">MONGOLIA</option>
    <option value="MS">MONTSERRAT</option>
    <option value="MA">MOROCCO</option>
    <option value="MZ">MOZAMBIQUE</option>
    <option value="MM">MYANMAR</option>
    <option value="NA">NAMIBIA</option>
    <option value="NR">NAURU</option>
    <option value="NP">NEPAL</option>
    <option value="NL">NETHERLANDS</option>
    <option value="AN">NETHERLANDS ANTILLES</option>
    <option value="NC">NEW CALEDONIA</option>
    <option value="NZ">NEW ZEALAND</option>
    <option value="NI">NICARAGUA</option>
    <option value="NE">NIGER</option>
    <option value="NG">NIGERIA</option>
    <option value="NU">NIUE</option>
    <option value="NF">NORFOLK ISLAND</option>
    <option value="MP">NORTHERN MARIANA ISLANDS</option>
    <option value="NO">NORWAY</option>
    <option value="OM">OMAN</option>
    <option value="PK">PAKISTAN</option>
    <option value="PW">PALAU</option>
    <option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
    <option value="PA">PANAMA</option>
    <option value="PG">PAPUA NEW GUINEA</option>
    <option value="PY">PARAGUAY</option>
    <option value="PE">PERU</option>
    <option value="PH">PHILIPPINES</option>
    <option value="PN">PITCAIRN</option>
    <option value="PL">POLAND</option>
    <option value="PT">PORTUGAL</option>
    <option value="PR">PUERTO RICO</option>
    <option value="QA">QATAR</option>
    <option value="RO">ROMANIA</option>
    <option value="RE">RUNION</option>
    <option value="RU">RUSSIAN FEDERATION</option>
    <option value="RW">RWANDA</option>
    <option value="SH">SAINT HELENA</option>
    <option value="KN">SAINT KITTS AND NEVIS</option>
    <option value="LC">SAINT LUCIA</option>
    <option value="PM">SAINT PIERRE AND MIQUELON</option>
    <option value="VC">SAINT VINCENT AND THE GRENADINES</option>
    <option value="WS">SAMOA</option>
    <option value="SM">SAN MARINO</option>
    <option value="ST">SAO TOME AND PRINCIPE</option>
    <option value="SA">SAUDI ARABIA</option>
    <option value="SN">SENEGAL</option>
    <option value="CS">SERBIA AND MONTENEGRO</option>
    <option value="SC">SEYCHELLES</option>
    <option value="SL">SIERRA LEONE</option>
    <option value="SG">SINGAPORE</option>
    <option value="SK">SLOVAKIA</option>
    <option value="SI">SLOVENIA</option>
    <option value="SB">SOLOMON ISLANDS</option>
    <option value="SO">SOMALIA</option>
    <option value="ZA">SOUTH AFRICA</option>
    <option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
    <option value="ES">SPAIN</option>
    <option value="LK">SRI LANKA</option>
    <option value="SD">SUDAN</option>
    <option value="SR">SURINAME</option>
    <option value="SJ">SVALBARD AND JAN MAYEN</option>
    <option value="SZ">SWAZILAND</option>
    <option value="SE">SWEDEN</option>
    <option value="CH">SWITZERLAND</option>
    <option value="SY">SYRIAN ARAB REPUBLIC</option>
    <option value="TW">TAIWAN, PROVINCE OF CHINA</option>
    <option value="TJ">TAJIKISTAN</option>
    <option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
    <option value="TH">THAILAND</option>
    <option value="TL">TIMOR-LESTE</option>
    <option value="TG">TOGO</option>
    <option value="TK">TOKELAU</option>
    <option value="TO">TONGA</option>
    <option value="TT">TRINIDAD AND TOBAGO</option>
    <option value="TN">TUNISIA</option>
    <option value="TR">TURKEY</option>
    <option value="TM">TURKMENISTAN</option>
    <option value="TC">TURKS AND CAICOS ISLANDS</option>
    <option value="TV">TUVALU</option>
    <option value="UG">UGANDA</option>
    <option value="UA">UKRAINE</option>
    <option value="AE">UNITED ARAB EMIRATES</option>
    <option value="GB">UNITED KINGDOM</option>
    <option value="US">UNITED STATES</option>
    <option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
    <option value="UY">URUGUAY</option>
    <option value="UZ">UZBEKISTAN</option>
    <option value="VU">VANUATU</option>
    <option value="VE">VENEZUELA</option>
    <option value="VN">VIET NAM</option>
    <option value="VG">VIRGIN ISLANDS, BRITISH</option>
    <option value="VI">VIRGIN ISLANDS, U.S.</option>
    <option value="WF">WALLIS AND FUTUNA</option>
    <option value="EH">WESTERN SAHARA</option>
    <option value="YE">YEMEN</option>
    <option value="ZM">ZAMBIA</option>
    <option value="ZW">ZIMBABWE</option>
    </select>
    </div>
    </div>
    </div>
    <div class="payment">
    <h2>STEP 3 : PAYMENT INFORMATION</h2>
    <div class="row">
    <div class="text-center" style="margin: 0px 0px 10px;">
    {%for ct in card_types.items %}
    <img src="{{ct.Image}}" alt="{{ct.name}}" />
    {%endfor%}
    </div>
    <div class="col-md-9 col-sm-9" style="border-right: 1px solid #f0f0fa;">
    <div class="form-group">
    <label class="control-label col-sm-4">Card Number</label>
    <div class="col-sm-8">
    <input class="form-control" id="CardNumber" type="text" name="CardNumber" />
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4">Card Type</label>
    <div class="col-sm-8">
    <select class="form-control" id="CardType" name="CardType">
    <!--<option value="1" selected="true">Visa</option>
                                    <option value="2">Master Card</option>
                                    <option value="3">Bank Card</option>
                                    <option value="4">American Express</option>
                                    <option value="5">Diners Club</option>
                                    <option value="6">JCB</option>-->
    {%for ct in card_types.items %}
    <option value="{{ct.name}}">{{ct.name}}</option>
    {%endfor%}
    </select>
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4">Expiration Date</label>
    <div class="col-sm-8">
    <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
    <select class="form-control" id="CardExpiryMonth" name="CardExpiryMonth">
    <option value="1" selected="true">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
    </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
    <select class="form-control" id="CardExpiryYear" name="CardExpiryYear">
    <option value="2015" selected="true">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
    <select class="form-control" id="CardExpiryYear" name="CardExpiryYear">
    <option value="2015" selected="true">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    </select>
    </div>
    </div>
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4">CVV Code</label>
    <div class="col-sm-8">
    <input class="form-control" id="CardCCV" type="text" name="CardCCV" />
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-3">
    <img alt="GlobalSign SSL Site Seal" src="/CatalystImages/globalsign-ssl-site-seal.gif" class="GlobalSign" />
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="amount-holder">
    <div class="form-group">
    <label class="control-label col-sm-6 col-xs-6">Amount</label>
    <div class="col-sm-6 col-xs-6">
    <input class="form-control" id="Amount" type="text" name="Amount" style="border: none;" />
    </div>
    </div>
    </div>
    </div>
    <input class="PaymentMethodType" type="hidden" checked="true" value="1" name="PaymentMethodType" />
    <input class="PaymentMethodType" type="hidden" value="7" name="PaymentMethodType" />
    <input class="PaymentMethodType" type="hidden" value="3" name="PaymentMethodType" />
    <input class="PaymentMethodType" type="hidden" value="5" name="PaymentMethodType" />
    <input class="PaymentMethodType" type="hidden" value="9" name="PaymentMethodType" />
    </div>
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <input class="cta-btn cta-btn-full" id="catwebformbutton" type="submit" value="SUBMIT ORDER" />
    </div>
    </div>
    </div>
    <div class="col-md-4">
    </div>
    </div>
</form>
</div>
</div>
<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
<script language="javascript" type="text/javascript">
var logged_in = {{globals.user.isLoggedIn}};
var cart_sum = {{shopping_settings.items[0].['Cart Summary']}};
if(!logged_in){
// Pre Checkout Continue As Guest
	$(".newcustomer-co").click(function(e) {
	  e.preventDefault();
	  $("#catwebformform42059").show();
	  $("#pre-co").hide();
	  if(cart_sum){
	  	$(".sum-cart").show();
	  }
	  
	}); 
}

		$( "#CardType option:contains('Visa')" ).attr("selected",true);
		

			//<![CDATA[
			var submitcount42059 = 0;
			function checkWholeForm42059(theForm){
				var why = "";
				if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");
				if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name"); 
				if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value);
				if(theForm.Password && theForm.PasswordConfirm) {
					  why += isEmpty(theForm.Password.value, "Password");
					  why += isEmpty(theForm.PasswordConfirm.value, "Confirm Password");
					  if(theForm.Password.value != theForm.PasswordConfirm.value) why += appendBreak("- Password and its confirmation do not match.");
					  if(theForm.Password.value.length < 6) why += appendBreak("- Password must be 6 characters or longer.");
				} 
				if(theForm.BillingAddress) why += isEmpty(theForm.BillingAddress.value, "Address");
				if(theForm.BillingCity) why += isEmpty(theForm.BillingCity.value, "City");
				if(theForm.BillingState) why += isEmpty(theForm.BillingState.value, "State");
				if(theForm.BillingZip) why += isEmpty(theForm.BillingZip.value, "Zipcode/Postcode");
				if (!theForm.PaymentMethodType || getRadioSelected(theForm.PaymentMethodType) == 1) { 
					if (theForm.CardNumber) why += isNumeric(theForm.CardNumber.value, "Card Number"); 
					if (theForm.Amount) why += isCurrency(theForm.Amount.value, "Amount"); 
				} 
				if (theForm.PaymentMethodType) why += checkSelected(theForm.PaymentMethodType, "Payment Method");
				if(why != ""){
					alert(why);return false;
				}
				if(submitcount42059 == 0){
					submitcount42059++;
					$("#Username").val($("#EmailAddress").val());
					theForm.submit();
					return false;
				}
				else{
					alert("Form submission is in progress.");
					return false;
				}
			}
			// Credit Card info is not required if paying by PayPal, Hosted Credit Card, COD etc
			function ShowCCFields(val) {							
				if (!document.getElementById('paymentdiv'))
					return;  		
				if (val != 1)
					document.getElementById('paymentdiv').style.display = 'none';				
				else
					document.getElementById('paymentdiv').style.display = 'inline';
		  }				
			//]]>
			
		/*function checkWholeForm19022(theForm){
			var why = "";
			if (theForm.Username) why += isEmpty(theForm.Username.value, "Username");
			if (theForm.Password) why += isEmpty(theForm.Password.value, "Password");
			if (why != ""){
				alert(why);
				return false;
			}
			else{
				//theForm.submit();
				jQuery.ajax({
                        type: 'Post',
                        url: "/ZoneProcess.aspx?ZoneID=-1",
                        data: $('#' + theForm.id).serialize(),
                        success: function(msg) {
							if (msg.indexOf("Secure Zone Access Denied") != -1) {
								console.log('Access denied');
							} 
							else {
								document.location.href = document.location.href;
							}
							
                        },
                        error: function(msg) {
                            console.log(msg);
                        }
                    });
			}
			
			return false;
		}*/
		
		$(".login-co").on('click', function(e){
			e.preventDefault();
			var data = {
				Username: $("#SZUsername").val(),
				Password: $("#SZPassword").val()
			};
			jQuery.ajax({
				type: 'Post',
				url: "/ZoneProcess.aspx?ZoneID=-1&Referrer={module_siteUrl,true,true}&OID={module_oid}&OTYPE={module_otype}",
				data: data,
				success: function(msg) {
					location.reload();		
				},
				error: function(msg) {
					console.log(msg);
					}
			});
		});
		
		$("#cart_logout").click(function(e){
			e.preventDefault();
			jQuery.ajax({
				url:"/LogOutProcess.aspx",
				success: function() {
					console.log("clicked");
					location.reload();
				}
			});
				
	});
</script>